


.titulo-pagina {
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    margin: 50px;
}


.nome-propriedade {
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    padding: 20px;
}
.nome-propriedade-shorthand{
    
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    padding: 20px;

}
.cabecalho{
    display: flex;
    list-style: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-evenly; 
    
}


li:hover{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border-radius: 20px;
    padding: 12px;
    transition: 0.4s;
    background-color: aqua;
    color: blue;
    
}
a{
    text-decoration: none;
}

.valor-propriedade {
    font-size: 1.5em;
    font-weight: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding top: 30px;
}

.bloco-1{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
   
}

.bloco-2{
    background-color: burlywood;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

   

}
.bloco-3{
    background-color: lightcoral;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

}




.bloco-1-semaltura{
    background-color: lightpink;
    /* height: 150px; */
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
   
}

.bloco-2-semaltura{
    background-color: burlywood;
    /* height: 150px; */
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

   

}
.bloco-3-semaltura{
    background-color: lightcoral;
    /* height: 150px; */
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

}



.bloco-1{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
   
}

.bloco-2{
    background-color: burlywood;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

   

}
.bloco-3{
    background-color: lightcoral;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

}


/* ------------------------------------- */
.bloco-1-fontes-diferentes{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
   
}

.bloco-2-fontes-diferentes{
    background-color: burlywood;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

   

}
.bloco-3-fontes-diferentes{
    background-color: lightcoral;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

}

/* ---------------------------------- */




/*flex-direction: define a direção do eixo principal*/
.container-row{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    background-color:cornflowerblue;
    padding: 16px;
    height: 500px;
}

.container-column{
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    background-color: cornflowerblue;
    padding: 16px;
    height: 500px;
}

.container-columnreverse{
    display: flex;
    border-radius: 50px;
    flex-direction: column-reverse;
    background-color: cornflowerblue;
    padding: 16px;
    height: 500px;
}

.container-row-reverse{
    display: flex;
    border-radius: 50px;
    flex-direction: row-reverse;
    background-color: cornflowerblue;
    padding: 16px;
    height: 500px;
}


/*justify -content: alinha os objetos no eixo principal*/
.container-justify-center{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    padding: 16px;
    height: 500px;
}

.container-justify-flex-start{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: blue;
    padding: 16px;
    height: 500px;
}

.container-justify-flex-end{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: flex-end;
    background-color: blue;
    padding: 16px;
    height: 500px;
}
.container-justify-space-between{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    padding: 16px;
    height: 500px;
}

.container-justify-space-around{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
    padding: 16px;
    height: 500px;
}
.container-justify-space-evenly{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: blue;
    padding: 16px;
    height: 500px;
}



/*align-items : alinha os objetos no eixo secundário*/


.container-alignitems-center{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 64);
    padding: 16px;
    height: 500px;
}
.container-alignitems-flex-start{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color:  rgb(0, 255, 64);
    padding: 16px;
    height: 500px;
}


.container-alignitems-flex-end{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color:  rgb(0, 255, 64);
    padding: 16px;
    height: 500px;
}

.container-alignitems-stretch{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color:  rgb(0, 255, 64);
    padding: 16px;
    height: 500px;

}

.container-fontes-diferentes-baseline{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color:  rgb(0, 255, 64);
    padding: 16px;
    height: 500px;

}


.container-flex-wrap{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    background-color:  rgb(179, 9, 23);
    padding: 16px;
    height: 500px;

}

.container-flex-wrap-no-wrap{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color:   rgb(179, 9, 23);
    padding: 16px;
    height: 500px;

}
.container-flex-wrap-wrap-reverse{

    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    background-color:   rgb(179, 9, 23);
    padding: 16px;
    height: 500px;
}

.container-flex-flow-row-nowrap{
    display: flex;
    border-radius: 50px;
    
    justify-content: center;
    align-items: center;
   flex-flow: row nowrap;
    background-color:   rgb(179, 9, 23);
    padding: 16px;
    height: 500px;

}

.container-aligncontent-center{
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color:  rgb(10, 204, 204);
    padding: 16px;
    height: 500px;
}

    .container-aligncontent-flex-start{
        display: flex;
        border-radius: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color:  rgb(10, 204, 204);
        padding: 16px;
        height: 500px;

    }

    .container-aligncontent-flex-end{
        display: flex;
        border-radius: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        background-color:  rgb(10, 204, 204);
        padding: 16px;
        height: 500px;
        
    }

    .container-aligncontent-space-between{
        display: flex;
        border-radius: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-between;
        background-color:  rgb(10, 204, 204);
        padding: 16px;
        height: 500px;

    }
    .container-aligncontent-space-around{
        display: flex;
        border-radius: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-around;
        background-color:  rgb(10, 204, 204);
        padding: 16px;
        height: 500px;

    }

    .container-aligncontent-space-evenly{
        display: flex;
        border-radius: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-evenly;
        background-color:  rgb(10, 204, 204);
        padding: 16px;
        height: 500px;

    }

